@import '../../../variables.scss';
@import '../../../shared-styles.scss';

.container {
    @extend .card;
}

.titleLink {
    margin-top: 0;
    font-size: 36px;
    margin-bottom: 10px;
    text-decoration: none;
    display: block;
    color: inherit;
    transition: 0.1s;
}

.titleLink:hover {
    color: $primary;
}

.title {
    display: inline;
}

.subtitle {
    font-weight: 300;
}

.secondaryInfo {
    font-size: 1rem;
    color: $body-text-light;
}

.remarks {
    margin-bottom: 0;
}

.secondaryInfo {
    font-size: 18px;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 30px;
    color: #868e98;
}