@import '../../styles/shared-styles.module.scss';

$time: 0.3s;

.galleryWrapper {
  justify-content: center;
  align-items: center;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-flow: dense;
  gap: 0.25em;

  @media only screen and (max-width: var(--mobile-breakpoint)) {
    grid-template-columns: repeat(2, auto);
  }

  @media only screen and (min-width: var(--widescreen-breakpoint)) {
    grid-template-columns: repeat(6, auto);
  }

  > * {
    aspect-ratio: 1;
  }

  .thumbnail {
    @extend .boxShadow;
  }
  .thumbnail img {
    cursor: zoom-in;

    object-fit: cover;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: all calc($time/2) ease(downhill);
    display: block; // https://stackoverflow.com/a/54020931/8412850
    position: relative;
    margin: 0;
    box-shadow: 0 0 0 #0000;
  }
}

.title {
  font-weight: 500;
  font-style: italic;
}

.reference {
  font-style: italic;
}
