@import '../../styles/shared-styles.module.scss';
@import '../../styles/variables.scss';

$time: 0.3s;

.galleryWrapper {
  justify-content: center;
  align-items: center;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-auto-rows: minmax(auto, 30vh);
  grid-auto-flow: dense;
  gap: 0.25em;

  @media only screen and (max-width: $mobile-breakpoint) {
    grid-template-columns: repeat(2, auto);
  }

  @media only screen and (min-width: $widescreen-breakpoint) {
    grid-template-columns: repeat(6, auto);
  }

  .thumbnail {
    @extend .boxShadow;
  }
  .thumbnail img {
    cursor: zoom-in;

    object-fit: cover;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: all $time/2 ease(downhill);
    position: relative;
    box-shadow: 0 0 0 #0000;
  }
}

.title {
  font-weight: 500;
  font-style: italic;
}
