@import '../../styles/shared-styles.module.scss';
@import '../../styles/variables.scss';

$time: 0.3s;

.galleryWrapper {
  justify-content: center;
  align-items: center;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-auto-rows: minmax(auto, 30vh);
  grid-auto-flow: dense;
  gap: 0.25em;

  @media only screen and (max-width: $mobile-breakpoint) {
    grid-template-columns: repeat(2, auto);
  }

  @media only screen and (min-width: $widescreen-breakpoint) {
    grid-template-columns: repeat(6, auto);
  }

  .thumbnail {
    @extend .boxShadow;
  }
  .thumbnail img {
    cursor: zoom-in;

    object-fit: cover;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: all $time/2 ease(downhill);
    position: relative;
    box-shadow: 0 0 0 #0000;
  }
}

.lightbox {
  z-index: 9999;
  &.targeted {
    cursor: zoom-out;
    opacity: 1;
    pointer-events: inherit;
    img {
      filter: blur(0);
    }
  }
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(black, 0.85);
  display: flex;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  .content {
    max-width: 90%;
    position: relative;
    color: #fff;
    // &:hover > a.close {
    //   opacity: 1;
    //   transform: scale(1, 1);
    // }
    &:hover > .titleOverlay {
      opacity: 1;
      transform: translateY(-3px); //Fix extra line at end
      &::after {
        opacity: 1;
      }
    }
    & > div {
      transition: all 450ms ease-in-out;
    }

    .title {
      font-weight: 500;
    }
  }
  .titleOverlay {
    display: block;
    margin: 0;
    padding: 1em;
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translateY(50%);
    font-size: 1.5em;
    opacity: 0;
    &::after {
      content: ' ';
      background-color: rgba(black, 0.4);
      bottom: 0;
      left: 0;
      height: 100%;
      width: 100%;
      position: absolute;
      transition: all 350ms ease-in-out 250ms;
      opacity: 0;
      transform-origin: bottom;
      mix-blend-mode: soft-light;
    }
  }
  img {
    object-fit: contain;
    max-height: 80vh;
    max-width: 100%;
    margin: 0;
    padding: 0;
  }
}

a.close {
  width: 2em;
  height: 2em;
  position: absolute;
  right: 2.5vw;
  top: 2.5vh;
  background-color: rgba(black, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  // transform: scale(0, 0);
  // opacity: 0;
  transform-origin: right top;
  text-decoration: none;
  color: #fff;
}
