@import '../../../variables.scss';
@import '../../../shared-styles.module.scss';

$containerPadding: 20px;
$imageWidth: 128px;

.container {
  border-top: 1px solid #d0d0d0;
  padding: $containerPadding;
  overflow: hidden;
  min-height: $containerPadding * 2 + $imageWidth;
}

.content {
  display: flex;
  flex-direction: row;
}

.image {
  height: $imageWidth;
  width: $imageWidth;
  object-fit: cover;
}

.imageContainer {
  height: $imageWidth;
  width: $imageWidth;
  margin-right: 10px;
}

@media only screen and (max-width: $mobile-breakpoint) {
  .imageContainer {
    display: none;
  }
}

.container h2 {
  padding: 0;
  margin: 0;
}

.titleWrapper {
  display: flex;
}
.title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
}

.description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  color: $body-text-light;
}

.textContent {
  max-height: $imageWidth;
  min-width: 0;
}

.blurb {
}

.blurbContainer {
  margin-top: 20px;
  margin-bottom: -1.45rem; // Remove margin-bottom from the last
}
