@import '../../../styles/shared-styles.module.scss';
@import '../../../styles/variables.scss';

.aside {
  font-size: $font-size * 0.75;
  line-height: $line-height * 0.75;
  background-color: $primary-lightest;
  padding: 20px;
}

$width: 300px;
$breakpoint: ($mobile-breakpoint + 320px * 2);
@media only screen and (min-width: $breakpoint) {
  .aside {
    width: $width;
    float: right;
    margin-right: -$width - 20px;
    box-shadow: 0px 1.6px 3.6px 0 rgba(0, 0, 0, 0.13), 0 0.3px 10px 0 rgba(0, 0, 0, 0.11);
  }
}

@media only screen and (max-width: $breakpoint) {
  .aside {
    width: default;
    margin-bottom: 20px;
  }
}
