@import '../styles/shared-styles.module.scss';

.container {
  @extend .card;
}

.linksContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.link {
  display: block;
  margin: 40px;
  font-size: 128px;
}
