@import '../../../styles/variables.scss';
@import '../../../styles/shared-styles.module.scss';

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: -10px;
}

.gameImageContainer {
  margin: 5px;
}
