@import '../../../variables.scss';
@import '../../../shared-styles.module.scss';

.container {
  @extend .innerCard;
  overflow: hidden;
  padding: 0;
  width: 425px;
}

.textContent {
  padding: 18px;
}


.gitHubIcon {
  margin-right: 4px;
}

.titleContainer {
  margin-top: 0;
  font-size: 36px;
  margin-bottom: 10px;
  text-decoration: none;
  display: block;
}

.title {
  margin-top: 0;
  display: inline;
}

.demoThumbnailContainer {
  overflow: hidden;
}

.demoThumbnail {
  margin-bottom: 0;
  border-bottom: 1px solid #f0f0f0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.demoThumbnail img {
    margin: 0;
    left: 50%;
    position: absolute;
}
.subtitle {
  padding: 0;
  margin: 0 0 1.45rem;
  font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
  display: block;
  font-size: 1.38316rem;
  color: inherit;
}

.secondaryInfo {
  font-size: 1rem;
  color: $body-text-light;
}

.excerpt {
  margin-bottom: 10px;
}

.secondaryInfo {
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
  margin-bottom: 0;
  color: $body-text-light;
}
