{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "@akolos/eslint-config-typescript",
    "prettier",
    "plugin:@next/next/recommended"
  ],
  "rules": {
    "react/destructuring-assignment": "off",
    "react/jsx-props-no-spreading": "off",
    "jsx-a11y/anchor-is-valid": "off"
  }
}
