@import './variables.scss';

.innerCard {
    padding: 20px;
    margin-top: 20px;
    border: 1px solid #f0f0f0;
}

.card {
    padding: 20px;
    margin-top: 20px;
    background-color: white;
}

.iconLink {
    color: $primary;
}

.iconLink:hover {
    color: $accent;
}
