@import './variables.scss';

.innerCard {
  padding: 20px;
  margin-top: 20px;
  border: 1px solid #f0f0f0;
}

.card {
  @extend .boxShadow;
  padding: 20px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: white;
}

.boxShadow {
  box-shadow: 0 1.6px 3.6px 0 hsla(0,0%,0%,.132), 0 0.3px 0.9px 0 hsla(0,0%,0%,.108);
}

.iconLink {
  color: $primary;
  animation: 0.1s linear;
}

.iconLink:visited {
  color: $primary;
}

.iconLink:hover {
  color: $accent;
}
