$primary: #673ab7;
$primary-light: #9a67ea;
$primary-lighter: #b08aeb;
$primary-lightest: #cdb6f0;
$primary-dark: #320b86;
$accent: #651fff;

$body-text: #000;
$body-text-light: #bbb;

$primary-text: #fff;
$primary-light-text: #000;
$primary-dark-text: #fff;
$accent-text: #fff;
