@import './variables.scss';

.innerCard {
  padding: 20px;
  margin-top: 20px;
  border: 1px solid #dfdfdf;
  border-left: 2px solid $accent;
}

.card {
  @extend .boxShadow;
  padding: 20px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: white;
}

.boxShadow {
  box-shadow: 0 1.6px 3.6px 0 hsla(0, 0%, 0%, 0.132), 0 0.3px 0.9px 0 hsla(0, 0%, 0%, 0.108);
}

.boxShadowHeavy {
  box-shadow: 0 3.6px 7.4px 0 hsla(0, 0%, 0%, 0.264), 0 0.6px 1.8px 0 hsla(0, 0%, 0%, 0.216);
}

.iconLink {
  color: $primary;
  animation: 0.1s linear;
}

.iconLink:visited {
  color: $primary;
}

.iconLink:hover {
  color: $accent;
}

.tooltip {
  position: relative;
  text-align: center;
}

.tooltipText {
  font-size: initial;

  position: absolute;

  /* Horizontally center */
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 20px;

  white-space: nowrap;
  min-width: 150px;
  padding: 10px;
  border-radius: 3px;
  background: $primary;
  color: #dfdfdf;
  opacity: 0;
  z-index: 9999;
  transition: opacity 0.2s;
}

.tooltip:hover .tooltipText {
  opacity: 1;
  transition: opacity 0.3s;
}

.tooltipTop .tooltipText {
  bottom: 100%;
  // margin-bottom: 15px;
}

.tooltip:after {
  z-index: 1;
  content: '';
  position: absolute;

  /* position tooltip correctly */
  left: 50%;
  margin-left: -10px;
  margin-top: -20px;

  /* vertically center */
  top: 0%;

  /* the arrow */
  border: 9px solid $primary;
  transition: opacity 0.2s;
  border-color: $primary transparent transparent transparent;
}

.tooltip:hover:before {
  opacity: 1;
}

.tooltip:after {
  opacity: 0;
}
.tooltip:hover:after {
  transition: 0.3s;
  opacity: 1;
}
