@import '../../styles/shared-styles.module.scss';

.portrait {
  border-radius: 50%;
  margin: auto;
}

.portraitContainer {
  text-align: center;
  margin-bottom: 0.7rem;
}

.container {
  @extend .card;
}

.showMoreButton {
  border: 1px solid var(--primary);
  padding: 8px 14px 8px 14px;
  border-radius: 5px;
  color: var(--primary);
  background: none;
  cursor: pointer;
}

.showMoreButton:hover {
  border: 1px solid var(--accent);
  color: var(--accent);
}

.additionalContent {
  height: 0;
  overflow: hidden;
  transition: height 0.4s;
}
